*{
	margin:0;
	padding:0;
}
html,body{
	height:100%;
	width:100%;
}
body {
	background-image: url("img/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
@font-face{
	font-family: 'PH-600RegularCaps';
	src: url(../../fonts/PH-600RegularCaps.otf) format('opentype');
}
header {
	width: 90%;
	height: 45%;
	margin-left: 5%;
	background: url("img/header.png") no-repeat center center;
	background-size: cover;
}
nav {
	background-color: rgba(41, 129, 156, 0.8);
	text-align: right;
	width: 100%;
	height: 20%;
	position: relative;
	top: 80%;
}
nav a{
	display: inline-block;
	padding: 0 1%;
	margin: 0 1%;
	color: #fff;
	text-decoration: none;
	font-size:37px; 
	font-family: 'PH-600RegularCaps', sans-serif;
}
nav a:hover{
	color: #ccc;
}
a span{
	font-size: 36px;
	font-family: 'Comic Sans MS', sans-serif;
}
main {
	width: 90%;
	height: 100%;
	margin-left: 5%;
	background-color: #ccc;
}
aside {
	position: relative;
	top: 5%;
	background-color: rgba(41, 129, 156, 0.8);
	width: 25%;
	height: 81%;
	border-radius: 2%;
	color: #fff;
	padding: 2% 1% 3% 2%;
}
aside a{
	color: #fff;
	text-decoration: none;
}
li span {
	display: block;
	padding-top: 2%;
	margin-left: 6%;
}
#sub-ul {
	margin-left: 20%;
}
aside a:hover,#contacts a:hover{
	text-decoration: underline;
}
#inspiration p,#materials p {
	font-weight: bold;
	font-size: 20px;
}
#inspiration p {
	margin-top: 4%;
}
#materials p {
	margin-top: 9%;
}
#first-ul, #second-ul{
	margin-top: 10%;
	margin-left: 15%;
}
#inspiration li, #materials li{
	padding: 2%;
}
#main-content{
	position: absolute;
	left: 35%;
	top: 50%;
	width: 53%;
	height: 80%;
	border: 3px dashed black; 
	padding: 2% 1%;
	font-family: 'PH-600RegularCaps', sans-serif;
	font-size: 19px;
}
#main-content img {
	display: inline-block;
	border: 2px solid black;
	border-radius: 4%;
	margin: 4% 10%;
}
#things-needed{
	position: absolute;
	top: 30%;
	left: 55%;
	width: 40%;
}
ol{
	margin-left: 10%;
}
ol li {
	margin-bottom: 4%;
}
#how-to{
	text-align: center;
}
#things-needed p, #how-to p{
	text-align: center;
	font-size: 30px;
	margin-bottom: 3%;
}
h2 {
	text-shadow: 3px 3px #666970;
	font-size: 60px;
	text-align: center;
	color: #000;
}
footer{
	width: 90%;
	height: 18%;
	background-color:  rgba(41, 129, 156, 0.8);
	color: #fff;
	text-align: center;
	padding-top: 1%;
	margin-left: 5%;
}
#contacts{
	margin: 1%;
}
#contacts a{
	display: inline-block;
	margin: 1%;
	color: #fff;
	text-decoration: none;
}
#contacts p{
	display: inline;
	margin: 0 1%;
}