*{
	margin:0;
	padding:0;
}
html,body { 
	height:100%;
	width:100%;
}
body {
	background-image: url("img/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
@font-face{
	font-family: 'PH-600RegularCaps';
	src: url(../../fonts/PH-600RegularCaps.otf) format('opentype');
}
header {
	width: 90%;
	height: 45%;
	margin-left: 5%;
	background: url("img/header.png") no-repeat center center;
	background-size: cover;
}
nav {
	background-color: rgba(41, 129, 156, 0.8);
	text-align: right;
	width: 100%;
	height: 20%;
	position: relative;
	top: 80%;
}
nav a{
	display: inline-block;
	padding: 0 1%;
	margin: 0 1%;
	color: #fff;
	text-decoration: none;
	font-size:37px; 
	font-family: 'PH-600RegularCaps', sans-serif;
}
nav a:hover{
	color: #ccc;
}
a span{
	font-size: 36px;
	font-family: 'Comic Sans MS', sans-serif;
}
main {
	width: 90%;
	height: 100%;
	margin-left: 5%;
	background-color: #ccc;
}
aside {
	position: relative;
	top: 5%;
	background-color: rgba(41, 129, 156, 0.8);
	width: 25%;
	height: 81%;
	border-radius: 2%;
	color: #fff;
	padding: 2% 1% 3% 2%;
}
aside a{
	color: #fff;
	text-decoration: none;
}
li span {
	display: block;
	padding-top: 2%;
	margin-left: 6%;
}
#sub-ul {
	margin-left: 20%;
}
aside a:hover,#contacts a:hover{
	text-decoration: underline;
}
#inspiration p,#materials p {
	font-weight: bold;
	font-size: 20px;
}
#inspiration p {
	margin-top: 4%;
}
#materials p {
	margin-top: 9%;
}
#first-ul, #second-ul{
	margin-top: 10%;
	margin-left: 15%;
}
#inspiration li, #materials li{
	padding: 2%;
}
#main-content{
	position: absolute;
	left: 35%;
	top: 53%;
	width: 53%;
	height: 70%;
	border: 3px dashed black; 
	padding: 3% 1%;
	font-family: 'PH-600RegularCaps', sans-serif;
	text-align: center;
}
#main-content div{
	margin: 2% 0;
}
h2{
	text-shadow: 3px 3px #666970;
	font-size: 60px;
	letter-spacing: 2px;
	text-align: center;
	color: #000;
}
h2 span{
	font-size: 58px;
	font-family: 'Comic Sans MS', sans-serif;
}
#submit{
	font-family: 'PH-600RegularCaps', sans-serif;
	padding: 1% 2%;
}
footer{
	width: 90%;
	height: 18%;
	background-color:  rgba(41, 129, 156, 0.8);
	color: #fff;
	text-align: center;
	padding-top: 1%;
	margin-left: 5%;
}
#contacts{
	margin: 1%;
}
#contacts a{
	display: inline-block;
	margin: 1%;
	color: #fff;
	text-decoration: none;
}
#contacts p{
	display: inline;
	margin: 0 1%;
}